.gpt3__brand  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gpt3__brand div {
    flex: 1;
    
    margin: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFF25;
}

.gpt3__blog-container{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}



.gpt3__blog-heading h1{
    font-size: 54px;
    line-height: 65px;
    font-weight: 700;
    font-family: var(--font-family);

}