/* .swiper {
  color:black;
  background-color: black;
 } */
.socialContainer{
  height: fit-content;
}
.tswipe-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  /* color:black;
  background-color: black; */
  height: 650px;
  width: 100px;
}
.tswiperContainer{
  width: 600px;
  height: 600px;
  margin-bottom: 80px;
}

@media screen and (max-width: 600px) {
  .tswipe-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    /* color:black;
  background-color: black; */
    height: 780px;
    width: auto;
  }
  .tswiperContainer{
    width: 400px;
    margin-bottom: 200px;
  }
}
/* .tswipe-slide:nth-child(8n) {
 height: 800px;
} */

/* 
.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}



.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} */
