@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: #ffee00;
  --gradient-bar: #0084ff;
  
  --color-bg: #252525;
  --color-footer : #202020;
  --color-blog: #646363;
  --color-text: #fdfffa;
  --color-subtext: #FF8A71;
}
