.gpt3__footer {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0rem;
    border-radius: 0rem;

    background: var(--color-footer); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding: -1rem;
    margin: 5rem;
    border-radius: 1rem;
    background: rgb(1,41,112);

  }

.submit-button button{
  background: #FF8A71;
}

  .gpt3__contactus h1{
    font-size: 54px;
    line-height: -1px;
    font-weight: 700;
    font-family: var(--font-family);
    color: #E6EDF3;
    margin-top: 2rem;


}

.contactus{
  margin-top: 2rem;
}
  
